.top{
    background-color: rgb(22, 50, 91);
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.top img{
    width: 70px;
    height: 40px;
    position: center;
}

.menu-list{
    display: flex;
    justify-items: space-around;
    list-style-type: none;
    color: white;
}
.menu-list li{
    padding: 10px ;
    text-decoration: none;
    text-decoration-color: white;
}
a{
    text-decoration-color: white;
    text-decoration: none;
}
h2{
    text-emphasis: bold;
    text-align: center;
    color: white;
}
.top .button-2{
    color: white;
    background-color: orange;

}
.top .button-1{
    color: white;
    background-color: #16325b;
}
.img{
    width: 100%;
    height: 100%;
}
.information{
    background: #16325b;
}
.work-ready{
    background: rgb(255, 255, 255);
    display: flex;
}
.work-ready .pipeline-talent{
    display: block;
}
.work-ready .derisk-recruitment{
    display: block;
}
.work-ready .workspace-ready{
    display: flexbox;
}
.next-gen-hiring{
    background-color: rgb(236, 240, 254);
}
.schedule{
    text-align:center;
    background-color: #ecf0fe;
}
.schedule .meet{
    color: white;
    background-color: orange;
    position: relative;
}
.footer {
    background-image: url("https://d33wubrfki0l68.cloudfront.net/d878614d97021fdeea6d1059797901a56ac871d8/bfc03/_next/static/images/footer-bg-552708bc98446e2327640a16897ccc19.png");
    background-color: rgb(22, 50, 91);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 50vh;
    position: relative;
    
}
.footer img{
    margin-top: 25vh;
    width: 60px;
    height: 60px;
}
